<!DOCTYPE html>
<html>
<head>
  <title>Add product</title>
</head>
<body>

  <h2>Add product :</h2>
  <form [formGroup]="myform" (ngSubmit)="onAddproduct()">
    <label for="nom">Product name:</label>
    <input type="text" formControlName="nom">

    <label for="prix">Price:</label>
    <input type="number" formControlName="prix">

    <label for="qts">Stock:</label>
    <input type="number" formControlName="qts">
    <input type="submit" value="Add">
  </form>
<br><br><br>
  <section id="product">
    <h2>Product management :</h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row mt-3">
                    <div class="col-lg-3 pt-1" *ngFor="let product of myData">
                        <div class="box-shadow">
                            <div class="card">
                                <img class="img-fluid" style="height: 200px;" [src]="product.piece_image" class="card-img-top" alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title">{{product.nom}}</h5>
                                    <p class="card-text"><span
                                            class="text-danger fw-semibold me-2">${{product.prix}}</span>
                                        
                                        <p class="card-text">
                                            <span class="text-danger fw-semibold me-2" *ngIf="product.qts === 0">Out of Stock</span>
                                            <span class="text-success fw-semibold me-2" *ngIf="product.qts > 0">{{ product.qts }} Available</span>
                                        </p>
                                        
                                    <div class="row">
                                        <div class="col-6">
                                          <button class="btn btn-sm btn-success" > UPDATE</button>
                                        </div>
                                        <div class="col-6 text-end">
                                            <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.id)"> DELETE</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>